@charset "UTF-8";

/* ...................................................................................................
 * Tag styles
 * ...................................................................................................*/

body
{
	margin: 0;
	padding: 0;
	background-color: #333333;
	background-image: url('img/iPhone_334x700.png');
}



/* ...................................................................................................
 * Image styles
 * ...................................................................................................*/

img
{
	display: block;
	margin: 0 auto;
	padding-top: 40px;
}



/* ...................................................................................................
 * Div styles
 * ...................................................................................................*/

#wrapper
{
	width: 960px;
	margin: 0 auto;
}



/* ...................................................................................................
 * Class styles
 * ...................................................................................................*/