@charset "UTF-8";

/* ...................................................................................................
 * Tag styles
 * ...................................................................................................*/

body
{
	margin: 0;
	padding: 0;
}


/* ...................................................................................................
 * Image styles
 * ...................................................................................................*/


/* ...................................................................................................
 * Div styles
 * ...................................................................................................*/

#left_column
{
	width: 200px;
	background-color: #999999;
	float: left;
}

#left_column p
{
	margin: 0;
	padding: 0 5px;
}

#right_column
{
	width: 200px;
	background-color: #666666;
}



/* ...................................................................................................
 * Class styles
 * ...................................................................................................*/