@charset "UTF-8";

/* ...................................................................................................
 * Tag styles
 * ...................................................................................................*/

html
{
	margin: 0;
	padding: 0;
}

body 
{
	font-family: "myriad pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #F2F2F2;
}

nav
{
	float: left;
}
	
	
	
	
/* ...................................................................................................
 * Image styles
 * ...................................................................................................*/




/* ...................................................................................................
 * Header styles
 * ...................................................................................................*/





/* ...................................................................................................
 * Div styles
 * ...................................................................................................*/

#wrapper
{
	width: 960px;
	height: 100%;
	background-color: pink;
	margin: auto;
	
}

#banner
{
	width: 960px;
	height: 140px;
	background-color: yellow;
}

#banner a
{
	float: left;
}

#main
{
	margin: auto;
}






/* ...................................................................................................
 * Class styles
 * ...................................................................................................*/